.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    height: 16rem;
    padding: 2rem;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 0.3rem;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__gift>input {
    margin-right: 0.5rem;
}

.subtotal>button {
    background: #f0c14b;
    border-radius: 0.2rem;
    width: 100%;
    height: 3rem;
    border: 0.1rem solid;
    margin-top: 1rem;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}