.checkoutProduct {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.checkoutProduct__info {
    padding-left: 2rem;
}

.checkoutProduct__info>button {
    background: #f0c14b;
    border: 0.1rem solid;
    margin-top: 1rem;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 18rem;
    height: 18rem;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 1.7rem;
    font-weight: bolder;
}